body{

    /* background-image: url("feedback3.jpeg"); */
    z-index:auto;
    color:rgb(175, 205, 76);
    background: rgb(132, 130, 130);
    margin:0px;
}

 section{
    display:flex;
    align-items: center;
    margin-left: 500px;
    font-size: 25px;
    margin-top:10px;
    width: 500px;
    background: rgb(1, 24, 32);
    box-shadow: rgb(91, 97, 91) 2px 0px 322px 23px, black 22px 32px 222px 322px ;

    /* margin-left: 600px; */
}

footer{
    background: #1b1b21;
    margin-top: 30px;
    border-top: #cdcaca 2px solid ;
  }
  
  .footer-content p{
    margin: 05px 0px 5px 0px;
    background: #1b1b21;
    /* align-items: center; */
    margin: 0px 0px 30px 600px ;
  }
  
  .contact ,h222 {
    display: flex;
    font-size: 30px;
    margin-left: 30px;
    background: #1b1b21;
  }
  
  .help{
    display: flex;
    margin-left: 30px;
    background: #1b1b21;
    gap: 10px;
  }
  
  .help1{
    display: flex;
    margin-left: 30px;
    background: #1b1b21;
    height: 60px;
    gap: 10px;
    
  }
  
  .help2{
    display: flex;
    margin-left: 30px;
    background: #1b1b21;
    height: 30px;
    gap: 10px;
    
  }
  
  .img111{
    width: 20px;
    height: 20px;
    padding: 15px 4px 0px 3px ;
  }
  
  .img112{
    width: 20px;
    height: 20px;
    padding: 15px 4px 0px 3px ;
  }
  .help ,.phone1{
    padding: 0px 4px 0px 3px ;
  }
  .container p{
      margin: 0px 0px 0px 20px ;
  }
  
  .container h2{
      margin: 0px 0px 10px 20px ;
  }